{% load static %}
<nav class="navbar navbar-expand-sm justify-content-end navbar-light">
    <div class="container">
        <a class="navbar-brand" href="..">
            abi<span style="color: #156588">fajri</span>
            <hr class="hr-navbrand">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="#">projects<hr class="hr-navitem"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#about">about<hr class="hr-navitem"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#contact">contact<hr class="hr-navitem"></a>
            </li>
        </ul>
    </div>
</nav>