html {
   scroll-behavior: smooth;
}

body {
   text-align: center;
   font-family: 'Poppins', sans-serif;
   background-color: #D3D3D3;
}

.navbar-brand {
   margin-top: 10px;
   margin-left: 0px;
   font-size: 160%;
   font-weight: 500;
   margin-bottom: 0px;
}

.nav-link {
   color: black !important;
   margin-top: 10px;
   margin-left: 50px;
   font-size: 140%;
   font-weight: 400;
   margin-bottom: 0px;
}

.sp {
   position: relative;
   margin: 210px 0px;
}

.my-name {
   position: relative;
   margin: 265px 0px;
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   text-align: center;
}

.game-designer {
   margin-top: -5px;
   margin-left: 105px;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   text-align: center;
}

.bio {
   margin-top: -10px;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   text-align: center;
}

.skills {
   text-align: left;
   margin-left: 171px;
}

#about {
   padding: 190px 0px;
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   text-align: center;
}

#contact {
   margin: 220px 0px;
   padding: 0px !important;
   font-style: normal;
   font-weight: 600;
   font-size: 35px;
   text-align: center;
}

#educations {
   margin: 185px 0px;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   text-align: center;
}

hr.hr-navbrand {
   margin: -1px;
   border: 0.5px solid black;
}

hr.hr-navitem {
   margin: 1px;
   border: 0.5px solid black;
}

hr.hr-long {
   margin: 10px;
   border: 0.4px solid black;
}

hr.hr-intro1 {
   width: 51.3%;
   margin: 0.5px;
   margin-left: 24.5%;
   border: 0.5px solid black;
}

hr.hr-intro2 {
   width: 61%;
   margin-left: 19.5%;
   margin-top: 10px;
   border: 0.5px solid black;
}

.v-line1 {
   border-left: 1px solid black;
   height: 400px;
   margin-top: 30px;
   margin-left: 70px;
}

.v-line2 {
   border-left: 1px solid black;
   height: 400px;
   margin-top: 250px;
   margin-bottom: 25px;
   margin-left: -10px;
}

@media only screen and (max-device-width: 480px) {
   .show-mobile {
     display: block;
   }
   .hide-mobile {
     display: none;
   }

   .sp {
      position: relative;
      text-align: center;
      width: 50%;
      height: auto;
      margin: 220px 90px;
   }
   
   .my-name {
      position: relative;
      margin-top: 75px;
      margin-bottom: 280px;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      text-align: center;
   }
   
   .game-designer {
      margin-top: -5px;
      margin-left: 115px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-align: center;
   }

   .skills {
      text-align: left;
      margin-left: 142px;
   }

   hr.hr-intro1 {
      width: 66.2%;
      margin-top: 2px;
      margin-left: 16.7%;
      border: 0.5px solid black;
   }
   
   hr.hr-intro2 {
      width: 77.2%;
      margin-left: 11%;
      margin-top: 10px;
      border: 0.5px solid black;
   }
}

@media only screen and (min-device-width: 480px) {
   .show-mobile {
     display: none;
   }
   .hide-mobile {
     display: block;
   }
}

img.my-pict {
   border-radius: 50%;
}

img.img-contact {
   padding: 0px !important;
   margin: 10px 15px;
   height: 40px;
   width: 40px;
}

ul.contact {
   margin-left: -50px;
}

