{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'contents/style.html' %}

    <title>abifajri</title>
</head>

<body id="top">

    <nav class="navbar navbar-expand-sm justify-content-end navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                abi<span style="color: #156588">fajri</span>
                <hr class="hr-navbrand">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">projects<hr class="hr-navitem"></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#about">about<hr class="hr-navitem"></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#contact">contact<hr class="hr-navitem"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col" id="logo-sp">
                <img class="sp" src="{% static 'img/logo-sp.jpg' %}">
            </div>
        
            <div class="col" id="intro">
                <div class="my-name">
                    abi fajri <a style="color: #156588">abdillah</a>
                    <div class="game-designer">future game designer.<hr class="hr-intro1"></div>
                    <hr class="hr-intro2">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <hr class="hr-long">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5" id="about">
                <img class="my-pict" src="{% static 'img/my-pict.jpg' %}">
                <br><br>
                <p>
                    Hi <a style="color: #156588">there!</a>
                    <br>
                    I love to play <a style="color: #156588">video games</a>,
                    <br>
                    watch <a style="color: #156588">movies</a>, and <a style="color: #156588">schleep</a>!
                </p>
            </div>

            <div class="hide-mobile col-sm-1">
                <div class="v-line1"></div>
            </div>

            <div class="hide-mobile col-sm-1">
                <div class="v-line2"></div>
            </div>
        
            <div class="show-mobile col-sm-2">
                <hr class="hr-long">
            </div>

            <div class="col-sm-5" id="contact">
                let's be <a style="color: #156588">friends</a>!
                <ul class="contact">
                    <a href="http://facebook.com/abi.f.abdillah"><img class="img-contact" src="{% static 'img/fb.png' %}" style="width:60px;height:60px"></a>
                    <a href="https://www.linkedin.com/in/abi-fajri-abdillah-989088176/"><img class="img-contact" src="{% static 'img/in.png' %}"></a>
                    <a href="http://instagram.com/abifajri_"><img class="img-contact" src="{% static 'img/ig.png' %}"></a>
                    <a href="mailto:a.fajri303@gmail.com"><img class="img-contact" src="{% static 'img/email.png' %}"></a>
                </ul>
                <div class="bio">know me <a href="more" style="color: #156588">more</a>.</div>
            </div>
        </div>
    </div>

    <div class="container">
        <hr class="hr-long">
    </div>
        
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

<footer>
    <p> Abi Fajri Abdillah &#169 2019 </p>
</footer>

</html>