{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'contents/style.html' %}
    
    <title>more</title>
</head>

<body id="top">

    <nav class="navbar navbar-expand-sm justify-content-end navbar-light">
       <div class="container">
            <a class="navbar-brand" href="/">
                abi<span style="color: #156588">fajri</span>
                <hr class="hr-navbrand">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">projects<hr class="hr-navitem"></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/#about">about<hr class="hr-navitem"></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/#contact">contact<hr class="hr-navitem"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-5" id="educations">
                <h2 style="font-weight:600;font-size:28px">
                    Edu<span style="color:#156588">cations</span>:
                </h2>
                <p>
                    - Computer Science Undergraduate Student <br>
                    <a href="https://www.ui.ac.id/en/" style="color:#156588">@University of Indonesia</a> | 2018 - Present
                </p>
                <br>
                <h2 style="font-weight:600;font-size:28px">
                    Skill<span style="color:#156588">s</span>:
                </h2>
                <p class="skills">
                    - Python <br>
                    - Java <br>
                    - Unity3D
                </p>
            </div>
        
            <div class="hide-mobile col-sm-1">
                <div class="v-line1"></div>
            </div>

            <div class="hide-mobile col-sm-1">
                <div class="v-line2"></div>
            </div>
        
            <div class="show-mobile col-sm-2">
                <hr class="hr-long">
            </div>
        
            <div class="col-sm-5" id="contact">
                let's be <a style="color: #156588">friends!</a>
                <ul class="contact">
                        <a href="http://facebook.com/abi.f.abdillah"><img class="img-contact" src="{% static 'img/fb.png' %}" style="width:60px;height:60px"></a>
                        <a href="https://www.linkedin.com/in/abi-fajri-abdillah-989088176/"><img class="img-contact" src="{% static 'img/in.png' %}"></a>
                        <a href="http://instagram.com/abifajri_"><img class="img-contact" src="{% static 'img/ig.png' %}"></a>
                        <a href="mailto:a.fajri303@gmail.com"><img class="img-contact" src="{% static 'img/email.png' %}"></a>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <hr class="hr-long">
    </div>
        
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

<footer>
    <p> Abi Fajri Abdillah &#169 2019 </p>
</footer>

</html>