{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'contents/style.html' %}

    <title>myschedule</title>
</head>

<body id="top">

    <nav class="navbar navbar-expand-sm justify-content-end navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                abi<span style="color: #156588">fajri</span>
                <hr class="hr-navbrand">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">projects<hr class="hr-navitem"></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/#about">about<hr class="hr-navitem"></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/#contact">contact<hr class="hr-navitem"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 style="margin-bottom: 10px">Add your activity <a style="color: #156588">here</a>!</h3>
        <form action="save_activity" method="POST">
            {% csrf_token %}
            <table style="margin:auto">
            {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
        </form>	
    </div>

    <br>

    <div class="container">
        <h1 class="display-5" style="text-align : center; margin-top: 15px;">Schedules</h1>
        <table class="table">
           <thead>
              <tr>
                 <th scope="col">#</th>
                 <th scope="col">Activity</th>
                 <th scope="col">Place</th>
                 <th scope="col">Category</th>
                 <th scope="col">Date/Time</th>
                 <th scope="col">Delete</th>
              </tr>
           </thead>
           <tbody>
              {% for schedule in schedules %}
              <tr>
                 <th scope="row">{{forloop.counter}}</th>
                 <td>{{schedule.activity}}</td>
                 <td>{{schedule.place}}</td>
                 <td>{{schedule.category}}</td>
                 <td>{{schedule.date_time}}</td>
                 <td><a href="{% url 'myschedule:delete_activity' schedule.id %}" class="btn-outline btn-danger">Delete</a></td>
              {% endfor %}
              </tr>
           </tbody>
        </table>
     </div>
        
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>